# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\preda\Desktop\assignment\NetbeansLab2\AsteroidsNetbeansModules\.idea/dataSources/
/dataSources.local.xml
