# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\preda\Desktop\handin\SpringLab\JavaLabSpring\.idea/dataSources/
/dataSources.local.xml
